nav{
    width: 100%;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}
nav .nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav .nav .link{
    text-decoration: none;
}
nav .nav .link:hover{
    color: rgb(204, 125, 219);
}